# Compiled files
*.class

# Simulation report files
*reports*/*.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*

# Python cache and virtual envs
__pycache__/
*.pyc
.venv/
venv/

# IDE/editor configs
.idea/
.vscode/

# Logs
*.log
